n8n/workflows/01-youtube-collector.json
{
  "name": "01 - YouTube Transcript Collector",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT s.id as source_id, s.persona_id, s.config, p.slug as persona_slug, p.name as persona_name\nFROM sources s\nJOIN personas p ON s.persona_id = p.id\nWHERE s.type IN ('YOUTUBE_VIDEO', 'YOUTUBE_CHANNEL', 'YOUTUBE_PLAYLIST')\nAND s.status = 'ACTIVE'\nAND (s.next_fetch_at IS NULL OR s.next_fetch_at <= NOW())\nORDER BY s.priority DESC\nLIMIT 5"
      },
      "name": "Get Active YouTube Sources",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [450, 300],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "name": "Loop Over Sources",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/bernardo~youtube-transcript-scraper/runs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"startUrls\": {{ $json.config.videoIds ? $json.config.videoIds.map(id => ({\"url\": \"https://www.youtube.com/watch?v=\" + id})) : [{\"url\": $json.config.channelUrl || \"https://www.youtube.com/channel/\" + $json.config.channelId}] }},\n  \"maxResults\": 50,\n  \"language\": \"en\"\n}",
        "options": {}
      },
      "name": "Call Apify YouTube Transcript",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "APIFY_CREDENTIAL_ID",
          "name": "Apify API"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.apify.com/v2/actor-runs/{{ $json.data.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 300000
        }
      },
      "name": "Wait for Apify Run",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "APIFY_CREDENTIAL_ID",
          "name": "Apify API"
        }
      },
      "retryOnFail": true,
      "maxTries": 10,
      "waitBetweenTries": 30000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-apify-status",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "SUCCEEDED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Apify Run Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.apify.com/v2/datasets/{{ $json.data.defaultDatasetId }}/items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Get Transcript Results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1450, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "APIFY_CREDENTIAL_ID",
          "name": "Apify API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\n// Get current source info from the batch loop\nconst sourceInfo = $('Loop Over Sources').first().json;\n\nfor (const item of items) {\n  const data = item.json;\n  \n  // Skip if no transcript\n  if (!data.transcript || data.transcript.length === 0) continue;\n  \n  // Combine transcript segments into full text\n  const transcriptText = data.transcript\n    .map(seg => seg.text)\n    .join(' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n  \n  // Create document object\n  results.push({\n    json: {\n      external_id: data.videoId,\n      external_url: `https://www.youtube.com/watch?v=${data.videoId}`,\n      title: data.title || 'Untitled Video',\n      raw_content: transcriptText,\n      author: data.channelName || data.author,\n      published_at: data.uploadDate ? new Date(data.uploadDate).toISOString() : null,\n      language: data.language || 'EN',\n      duration_seconds: data.duration,\n      has_transcript: true,\n      transcript_source: 'apify',\n      word_count: transcriptText.split(/\\s+/).length,\n      source_metadata: {\n        channel_id: data.channelId,\n        view_count: data.viewCount,\n        like_count: data.likeCount,\n        thumbnail: data.thumbnailUrl\n      },\n      persona_id: sourceInfo.persona_id,\n      source_id: sourceInfo.source_id\n    }\n  });\n}\n\nreturn results;"
      },
      "name": "Transform Transcripts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO documents (\n  id, persona_id, source_id, external_id, external_url,\n  title, raw_content, author, published_at, language,\n  duration_seconds, has_transcript, transcript_source,\n  word_count, source_metadata, status, created_at, updated_at\n) VALUES (\n  gen_random_uuid(),\n  '{{ $json.persona_id }}',\n  '{{ $json.source_id }}',\n  '{{ $json.external_id }}',\n  '{{ $json.external_url }}',\n  '{{ $json.title.replace(/'/g, \"''\") }}',\n  '{{ $json.raw_content.replace(/'/g, \"''\").substring(0, 100000) }}',\n  '{{ ($json.author || \"\").replace(/'/g, \"''\") }}',\n  {{ $json.published_at ? \"'\" + $json.published_at + \"'\" : \"NULL\" }},\n  '{{ $json.language }}',\n  {{ $json.duration_seconds || 'NULL' }},\n  true,\n  'apify',\n  {{ $json.word_count }},\n  '{{ JSON.stringify($json.source_metadata).replace(/'/g, \"''\") }}'::jsonb,\n  'PENDING_PROCESSING',\n  NOW(),\n  NOW()\n)\nON CONFLICT (external_id) DO UPDATE SET\n  title = EXCLUDED.title,\n  raw_content = EXCLUDED.raw_content,\n  updated_at = NOW()\nRETURNING id"
      },
      "name": "Save to Documents",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1850, 200],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE sources\nSET \n  last_fetched_at = NOW(),\n  next_fetch_at = NOW() + INTERVAL '1 day',\n  total_fetches = total_fetches + 1,\n  success_fetches = success_fetches + 1,\n  total_documents = total_documents + 1,\n  updated_at = NOW()\nWHERE id = '{{ $('Loop Over Sources').first().json.source_id }}'"
      },
      "name": "Update Source Stats",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [2050, 200],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO fetch_logs (id, source_id, status, items_found, items_new, duration_ms, created_at)\nVALUES (\n  gen_random_uuid(),\n  '{{ $('Loop Over Sources').first().json.source_id }}',\n  'success',\n  {{ $('Transform Transcripts').all().length }},\n  {{ $('Transform Transcripts').all().length }},\n  {{ Date.now() - $('Schedule Trigger').first().json.timestamp }},\n  NOW()\n)"
      },
      "name": "Log Fetch Result",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [2250, 200],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO fetch_logs (id, source_id, status, error_message, metadata, created_at)\nVALUES (\n  gen_random_uuid(),\n  '{{ $('Loop Over Sources').first().json.source_id }}',\n  'error',\n  'Apify run failed with status: {{ $json.data.status }}',\n  '{{ JSON.stringify({ apify_run_id: $json.data.id, status: $json.data.status }).replace(/'/g, \"''\") }}'::jsonb,\n  NOW()\n)"
      },
      "name": "Log Apify Failure",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1450, 450],
      "credentials": {
        "postgres": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {},
      "name": "Continue Loop",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2450, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Active YouTube Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active YouTube Sources": {
      "main": [
        [
          {
            "node": "Loop Over Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Sources": {
      "main": [
        [
          {
            "node": "Call Apify YouTube Transcript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Continue Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Apify YouTube Transcript": {
      "main": [
        [
          {
            "node": "Wait for Apify Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Apify Run": {
      "main": [
        [
          {
            "node": "Apify Run Succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify Run Succeeded?": {
      "main": [
        [
          {
            "node": "Get Transcript Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Apify Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Transcript Results": {
      "main": [
        [
          {
            "node": "Transform Transcripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Transcripts": {
      "main": [
        [
          {
            "node": "Save to Documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Documents": {
      "main": [
        [
          {
            "node": "Update Source Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Source Stats": {
      "main": [
        [
          {
            "node": "Log Fetch Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Fetch Result": {
      "main": [
        [
          {
            "node": "Loop Over Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Apify Failure": {
      "main": [
        [
          {
            "node": "Loop Over Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "collector"
    },
    {
      "name": "youtube"
    }
  ]
}